<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> <!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.10/lib/index.js"></script> <!-- Element UI -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.10/lib/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
<div id="app">
    <template>

        {{'起始时间:'+current_time}}
         <el-select @change="set_current_interval" v-model="value" placeholder="请选择">

    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>

  </el-select>
        {{'平均涨幅:'+avg_change}}
  <el-table
    :data="tableData"
    :default-sort = "{prop: 'change', order: 'descending'}"
    border
    style="width: 100%">
    <el-table-column
      prop="symbol"
      label="交易对"
      width="180">
    </el-table-column>
    <el-table-column
      sortable
      prop="change"
      label="涨幅">
    </el-table-column>
    <el-table-column
      sortable
      prop="price"
      label="当前价格">
    </el-table-column>
    <el-table-column
      sortable
      prop="current_interval"
      label="涨幅类型">
    </el-table-column>
     <el-table-column
      sortable
      prop="url"
      label="跳转到交易所">
      <!-- 使用 scoped slot 来绑定按钮的点击事件 -->
      <template slot-scope="scope">
        <el-button @click="goToUrl(scope.row.url)" type="primary">跳转</el-button>
      </template>
    </el-table-column>


  </el-table>
</template>
  </div>

 <script>
    new Vue({

      el: '#app',
      data() {
        return {
          avg_change: 0,
          current_time: '',
          tableData: [{
              symbol: '无',
              change: '0'
        }],
        options: [],
        value: '5m'
        };
      },
      created() {
        // 创建定时器
            setInterval(() => {
              this.get_data()
            }, 1000);
            this.get_options()
        },
        methods: {
          goToUrl(url) {
            window.open(url, '_blank')
        },
        set_current_interval(){
            axios.get(window.location.origin+'/set_current_interval?interval='+this.value)

        },
        get_options(){
            axios.get(window.location.origin+'/get_options')
          .then(response => {
              this.options = response.data;
          });
        },
        get_data(){
            axios.get(window.location.origin+'/get_data')
          .then(response => {
              this.tableData = response.data.data;
              this.current_time = response.data.time;
              this.avg_change = response.data.avg_change;
          });
                        // 定义定时器间隔（单位：毫秒），例如每 5 秒获取一次数据


        }
      }

    });
  </script>
</body>


</html>