<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> <!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.10/lib/index.js"></script> <!-- Element UI -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.10/lib/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
<div id="app">
    <template>
        {{'起始时间:'+current_time}}
         <el-select v-model="value" placeholder="请选择">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
  <el-table
    :data="tableData"
    :default-sort = "{prop: 'change', order: 'descending'}"
    border
    style="width: 100%">
    <el-table-column
      prop="symbol"
      label="交易对"
      width="180">
    </el-table-column>
    <el-table-column
      sortable
      prop="change"
      label="涨幅">
    </el-table-column>


  </el-table>
</template>
  </div>

 <script>
    new Vue({
      el: '#app',
      data() {
        return {
          current_time: '',
          tableData: [{
              symbol: '王小虎',
              change: '上海市普陀区金沙江路 1518 弄'
        }],
        options: [{
          value: '选项1',
          label: '黄金糕'
        }, {
          value: '选项2',
          label: '双皮奶'
        }, {
          value: '选项3',
          label: '蚵仔煎'
        }, {
          value: '选项4',
          label: '龙须面'
        }, {
          value: '选项5',
          label: '北京烤鸭'
        }],
        value: ''
        };
      },
      created() {
        // 创建定时器
            setInterval(() => {
              this.get_data()
            }, 1000);
        },
        methods: {
        get_data(){
            axios.get('http://127.0.0.1:5000/get_data')
          .then(response => {
              this.tableData = response.data.data;
              this.current_time = response.data.time;

          });
                        // 定义定时器间隔（单位：毫秒），例如每 5 秒获取一次数据


        }
      }

    });
  </script>
</body>


</html>